/* splash screen */

.splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #0500FF;
    color: white;
    opacity: 1;
    transition: opacity 2.3s ease-out;
}
  
.splash-screen.hidden {
    opacity: 0;
}


.splash_logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-logo {
    width: 30px;
    height: 30px;
}