* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: red;
  --color-brand: lime;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  list-style: none;
}


img {
  width: 100%;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: gray;
  min-height: 100vh;
}

.coins-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.section {
  background-color: white;
  height: 100%;
  flex: 1;
  /* border: 1px solid blue; */
  /* padding: 1rem 0.5rem; */
}


/* .Header {
  padding: 1rem;
  background-color: #007bff;
}

footer {
  background-color: #007bff;
  text-align: center;
} */

/* custom styling */


.text {
  max-width: 500px;
}

.intro {
  margin-bottom: 1rem;
}

.intro h1 {
  font-weight: 600;
}

.font-weight{
  font-weight: 500;
}


.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions>svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.link {
  color: grey
}

.active {
  color: red;
}

.line {
  display: inline-block;
}

.form-button {
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 5px #000;
  padding: 0.25rem;
}

a {
  text-decoration: none;
  color: #222;
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand);
}





/* table styling */
.table-container {
  height: calc(100vh - 100px); /* Full height minus header height */
  overflow-y: auto; /* Vertical scrolling */
  overflow-x: auto; /* Horizontal scrolling */
  padding: 1rem;
  box-sizing: border-box;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures consistent column widths */
}

.table th,
.table td {
  text-align: left;
}

/* Add alternating row colors */

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9; 
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #ffffff;
}

/* .table th {
  background-color: #f8f9fa;
  font-weight: bold;
} */

.table td {
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipses for long text */
}




/* table thead th {
  font-size: 10px;
}

.row .table_responsive {
  height: 100vh;
  overflow-y: auto;
  overflow-x: auto; 
  width: 100%;
  box-sizing: border-box;
}

table .tableDesign {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.table thead th {
  background-color: darkcyan;
  color: #fff;
} */

/* .table_row td {
  padding: 10px;
} */

/* .table th,
.table td {
  padding: 2px 2px;
}

.table tbody tr:nth-of-type(even) {
  background: #eee;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid darkcyan;
}

.table-image {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 1000px;
  width: 40px;
  height: 40px;
} */



.coin-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  flex: 1;
  background-color: white;
  padding-top: 20px;
  position: relative;
  z-index: 5;
}

.white-loading {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.symbol {
  font-size: 1rem;
  font-weight: 700;
}

.price {
  font-size: 1rem;
  font-weight: 700;
}

.table-image {
  width: unset;
  height: 1.3rem;
  border-radius: 1000px;
}

.name-symbol {
  vertical-align: middle;
}


form .form-control {
  color: black;
  border: black;
  outline: none;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  background-color: #ddd;
}

form .form-control:focus {
  outline: 0;
  box-shadow: none;
  background-color: #ddd;
  border-color: 1px solid red;
}

.input-group {
  padding: 6px;
  background-color: #ddd;
  border-radius: 15px;
}

.input-group input {
  border: black;
  background-color: transparent;
  color: black;
}

.input-group input:focus {
  box-shadow: black;
}

.input-group input::placeholder{
  color: black;
}


/* cointable */

.cointable_overflow::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.cointable_overflow::-webkit-scrollbar-thumb {
  background-color: transparent; /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Add border radius to the scrollbar thumb */
}

.cointable_overflow::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}
















.mexican-wave:before {
-webkit-animation: mexican-wave .75s infinite ease backwards;
  animation: mexican-wave .75s infinite ease backwards;
  border-radius: 100%;
  content: '';
  height: 10px;
  position: absolute;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  width: 10px; 
}



@-webkit-keyframes mexican-wave {
  0% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  15% {
    -webkit-box-shadow: -30px -20px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -20px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  30% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -20px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -20px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  45% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -20px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -20px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  60% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -20px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -20px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  75% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -20px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -20px 0 0 var(--primary); }
  100% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); } }

@keyframes mexican-wave {
  0% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  15% {
    -webkit-box-shadow: -30px -20px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -20px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  30% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -20px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -20px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  45% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -20px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -20px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  60% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -20px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -20px 0 0 var(--primary), 30px -10px 0 0 var(--primary); }
  75% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -20px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -20px 0 0 var(--primary); }
  100% {
    -webkit-box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary);
            box-shadow: -30px -10px 0 0 var(--primary), -15px -10px 0 0 var(--primary), 0 -10px 0 0 var(--primary), 15px -10px 0 0 var(--primary), 30px -10px 0 0 var(--primary); } }