/* Mobile container styles for desktop view */
/* iPhone-like dimensions */
@media (min-width: 568px) {
    .mobile-container {
        width: 375px; 
        height: 760px; 
        border-radius: 44px; 
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        position: relative; 
        overflow: hidden;
    }

    .App {
      padding: 30px;
    }

    .cointable_overflow {
      padding-bottom: 45px;
    }
}
  
/* For actual mobile devices, take up full screen */
@media (max-width: 567px) {
    .mobile-container {
        width: 100%;
        height: 100vh;
        max-width: 100%;
        border-radius: 0;
        box-shadow: none;
    }
}


/* For surface and tablets such as Ipad */
@media (min-width: 768px) {
    /* .mobile-container{
        height: calc(100% - 200px);
    } */
}